/*
 * Some generic rules for using new HTML 5 elements.
 *
 */

@mixin verify-html5-sectioning() {
	@each $element in map-get( $elements, 'html5_sectioning' ) {
		@each $as_child in map-get( $elements, 'html5_sectioning' ) {
			#{$element} {
				> #{$as_child} {
					&:first-child {
						@extend %warning;
						&::after {
							content: 'Sectioning elements are not arbitrary wrappers. Use <div>s here.' !important;
						}
					}
				}
			}
		}
		#{$element} {
			&[role="banner"],
			&[role="contentinfo"] {
				@extend %warning;
				&::after {
					content: 'Do not put [role="banner"] or [role="contentinfo"] inside a subsection.' !important;
				}
			}
		}
	}
}

@mixin verify-html5-accessibility() {
	body {
		> div,
		& {
			> header {
				&:not([role="banner"]) {
				@extend %info;
					&::after {
						content: 'Use should use role="banner" on this header element.' !important;
					}
				}
			}
			> footer {
				&:not([role="contentinfo"]) {
					@extend %info;
					&::after {
						content: 'Use role="contentinfo" on this footer element.' !important;
					}
				}
			}
		}
	}

	@each $name in $possible_main_names {
		##{$name},
		.#{$name} {
			&:not(main) {
				@extend %info;
				&::after {
					content: 'Use the standard <main> element to mark up the main part of your page.' !important;
				}
			}
		}
	}

	#footer,
	.footer,
	#copyright,
	.copyright {
		&:not(footer):not([role="contentinfo"]) {
			@extend %info;
			&::after {
				content: 'Use the standard <footer> element or contentinfo role' !important;
			}
		}
	}

	#header,
	.header,
	#banner,
	.banner {
		&:not(header):not([role="banner"]) {
			@extend %info;
			&::after {
				content: 'Use the standard <footer> element or contentinfo role' !important;
			}
		}
	}
}
