@function get-opposite-direction( $direction ) {
	$opposite: center;

	@if $direction == top {
		$opposite: bottom;
	}
	@if $direction == bottom {
		$opposite: top;
	}
	@if $direction == left {
		$opposite: right;
	}
	@if $direction == right {
		$opposite: left;
	}

	@return $opposite;
}
@function opposite-position( $direction ) {
	$positions: top right bottom left;
	$opposite: null;

	@if not index( $positions, $direction ) {
		@warn "Direction must be one of `top`, `right`, `bottom` or `left`; currently `#{$direction}`.";
	} @else {
		$opposite: get-opposite-direction( $direction );
	}

	@return $opposite;
}
@mixin arrow( $direction, $position, $color: currentColor, $size: 10px ) {
	@if $position ==  center {
		@include center-things( $direction, $size );
	} @else {
		@include absolute($position);
	}
	z-index: 2;
	width: 0;
	height: 0;
	border-#{opposite-position($direction)}: $size solid $color;
	@if $direction == top or $direction == bottom {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
	} @else if $direction == left or $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
	}
	content: '';
}
