/*
 * Rules for forms.
 *
 */

form {
	button:not([type]) {
		@extend %warning;
		&::after {
			content: 'Is this a submit button, a reset button or a button? Use type="submit", type="reset" or type="button".' !important;
		}
	}

	&:not([action]) {
		@extend %warning;
		&::after {
			content: 'Forms must have action attributes.' !important;
		}
	}
}

fieldset > *:not(legend) {
	@extend %warning;
	&::after {
		content: 'Place a legend as the first element in this fieldset.' !important;
	}
}

button.disabled:not([disabled]):not([readonly]){
	@extend %warning;
	&::after {
		content: 'Use a disabled or readonly attribute on this button.' !important;
	}
}

label {
	&:not([for]),
	&[for=""] {
		@extend %warning;
		&::after {
			content:"Missing for attribute";
		}
	}
}
