/*
 * Image attributes should be there and properly filled in.
 *
 */

img {
	&:not([alt]),
	&[alt]:not([alt=""]) {
		@extend %warning;
		&::after {
			content: 'Either add proper alt attribute content or void the alt properly using alt="".' !important;
		}
	}
	&:not([src]) {
		@extend %error;
		&::after {
			content: 'Add a src attribute to this image placeholder.' !important;
		}
	}
}

figcaption {
	@extend %error;
	&::after {
		content: '<figcaption>s must belong to parent <figure>s.' !important;

		/* override this when they do have the parent <figure> */
		figure & {
			display: none !important;
			content: '' !important;
		}
	}
}
