$base16: (
	'00' : rgb(21, 21, 21),
	'01' : rgb(32, 32, 32),
	'02' : rgb(48, 48, 48),
	'03' : rgb(80, 80, 80),
	'04' : rgb(176, 176, 176),
	'05' : rgb(208, 208, 208),
	'06' : rgb(224, 224, 224),
	'07' : rgb(245, 245, 245),
	'08' : rgb(172, 65, 66),
	'09' : rgb(210, 132, 69),
	'0A' : rgb(244, 191, 117),
	'0B' : rgb(144, 169, 89),
	'0C' : rgb(117, 181, 170),
	'0D' : rgb(106, 159, 181),
	'0E' : rgb(170, 117, 159),
	'0F' : rgb(143, 85, 54)
);
$colors : (
	error : map-get( $base16, '08' ),
	warning : map-get( $base16, '0A' ),
	info : map-get( $base16, '0D' ),
	success : map-get( $base16, '0B' ),
	black : map-get( $base16, '00' ),
	white : map-get( $base16, '07' )
);
$elements: (
	block: (
		address,
		blockquote,
		dd,
		div,
		dl,
		fieldset,
		form,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		hr,
		noscript,
		ol,
		p,
		pre,
		table,
		ul,
		article,
		aside,
		audio,
		canvas,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		output,
		section,
		video
	),
	inline: (
		abbr,
		b,
		bdo,
		button,
		cite,
		code,
		dfn,
		em,
		i,
		input,
		kbd,
		label,
		map,
		object,
		q,
		samp,
		select,
		small,
		span,
		strong,
		sub,
		sup,
		textarea,
		var
	),
	deprecated: (
		acronym,
		applet,
		basefont,
		big,
		center,
		dir,
		font,
		frame,
		frameset,
		isindex,
		listing,
		multicol,
		plaintext,
		strike,
		xmp,
		bgsound,
		blink,
		comment,
		marquee,
		nobr,
		noembed,
		wbr
	),
	html5_sectioning: (
		article,
		aside,
		section
	),
	self_closing: (
		script,
		input,
		br,
		img,
		link,
		hr,
		embed,
		area,
		command,
		col,
		param,
		source,
		track,
		wbr,
		base,
		keygen
	)
);
$deprecated_attributes: (
	align,
	alink,
	background,
	bgcolor,
	border,
	clear,
	height,
	hspace,
	link,
	nowrap,
	start,
	vlink,
	vspace
);
$possible_main_names: (
	main,
	main-content,
	page-content,
	content,
	body
);
